examples/soap/book-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://ws2026.example.com/book-service"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://ws2026.example.com/book-service"
  name="BookService">

  <wsdl:types>
    <xsd:schema targetNamespace="http://ws2026.example.com/book-service">
      <xsd:element name="GetBookRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bookId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetBookResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:string" />
            <xsd:element name="title" type="xsd:string" />
            <xsd:element name="author" type="xsd:string" />
            <xsd:element name="year" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="GetBookInput">
    <wsdl:part name="parameters" element="tns:GetBookRequest" />
  </wsdl:message>

  <wsdl:message name="GetBookOutput">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>

  <wsdl:portType name="BookServicePortType">
    <wsdl:operation name="GetBook">
      <wsdl:input message="tns:GetBookInput" />
      <wsdl:output message="tns:GetBookOutput" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="BookServiceSoapBinding" type="tns:BookServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBook">
      <soap:operation soapAction="http://ws2026.example.com/book-service/GetBook" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="BookService">
    <wsdl:port name="BookServiceSoapPort" binding="tns:BookServiceSoapBinding">
      <soap:address location="http://localhost:3001/soap/book-service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
